:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main{
  height: 100vh;
}
.mainSection {
  display: flex;
  flex-direction: column;
}

.mainTextContainer{
  width: 50vw;
  height: 30vh;
}
.mainText {
  font-size: 128px;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(252, 70, 164, 1) 11%, rgba(63, 94, 251, 1) 54%, rgba(63, 213, 251, 1) 91%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.heroContainer{
  display: flex;
  flex-direction: row;
}
.mainScene{
  height: 100dvh;
  width: 100dvw;
}

.main3dContainer{
  height: 30vh;
  width: 30vh;
}

.firstSection{
  height: 100vh;
  width: 100%;
  position: relative;
}
